:root {
    --background-color: rgb(5, 10, 25);
    --text-color: rgb(255, 247, 231);
}

body {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

p {
    color: var(--text-color);
}


#score-container {
    display: flex;
    justify-content: center;

    width: 80%;
}

.player-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    padding: 1.2%;
    font-size: 3vh;
}

.computer-container {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 1.2vw;
    font-size: 3vh;
}

.player-container p, .computer-container p, #player-score, #computer-score {
    margin: 0px;
}

.status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 40%;
    
}

#btn-container > * {
    flex: auto;

    background-color: transparent;
    border: none;
    padding: 0px;

    height: 7vh;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.rock {
    background-image:  url("images/rock.png");
}

.paper {
    background-image: url("images/paper.png");
}

.scissors {
    background-image: url("images/scissors.png");
}